Article.aux
Article.log
Article.bbl
Article.blg
Article.pdf
Article.tex~
Article.toc
Article.out
ArticleNewVersion.aux
ArticleNewVersion.log
ArticleNewVersion.bbl
ArticleNewVersion.blg
ArticleNewVersion.pdf
ArticleNewVersion.tex~
ArticleNewVersion.toc
ArticleNewVersion.out
*converted-to.pdf